.custom-cluster {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    color: blue;
    font-weight: bold;
    display: flex;
    text-align: center;
  }
  
  .small {
    width: 30px;
    height: 30px;
    font-size: 12px;
    background: #00ff26;
    border-radius: 50%;
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .medium {
    width: 40px;
    height: 40px;
    font-size: 14px;
    background: #f6ff00;
    border-radius: 35%;
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .large {
    width: 50px;
    height: 50px;
    font-size: 16px;
    background: rgba(255, 149, 0, 0.7);
    border-radius: 20%;
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  
  .flyToRandomPin {
    position: fixed;
    right: 0%;
    top: 1%;
    padding: 6px 9px;
    background-color: #64f4b3;
    cursor: pointer;
    z-index: 1;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 18px;
  }
  
  .flyToRandomPin:hover {
    background-color: #44d463;
    transform: scale(1.15);
    border-color: grey;
  }


@media (max-width: 600px) {

    .flyToRandomPin {
    top: 18%;
  }

}