html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #333;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements in the column horizontally */
  margin-bottom: 1.25rem; /* 20px */
  grid-row: 1;
}

h1 {
  margin: 3.125rem; /* 50px */
  font-size: 3rem; /* Scaled with the root font size */
  z-index: 2;
}

h3, h4{
  z-index: 2;
  position: relative;
}

ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  position: relative; /* Ensure list is positioned properly */
  z-index: 2; /* List above the map */
}

li {
  margin-bottom: 0.625rem;
  position: relative; /* Ensure list items are stacked properly */
  z-index: 2; /* List items above the map */
}

a {
  color: white;
  text-decoration: none;
  z-index: 2;
}

a:hover {
  color: #54e473;
  text-decoration: none;
}

button {
  margin: 0.9375rem 0.3125rem; /* 15px 5px */
  padding: 0.625rem 1.25rem; /* 10px 20px */
  background-color: white;
  color: #333;
  border: transparent;
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  z-index: 2;
}

/***************************/
@media (max-width: 600px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px; /* Base font size for scaling */
    box-sizing: border-box;
  }

  body {
    background-color: #333;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 10px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  h1 {
    margin: 1.5rem 0;
    font-size: 2rem; /* Scaled for smaller screens */
    text-align: center;
  }

}